@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

/* Kanit 폰트를 import */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  background-color: #1e1e1e;
  display: grid;
  place-items: center;
  /* CSS Grid사용하여 컨텐츠를 중앙에 배치 */
  font-family: "Kanit", sans-serif;
}

div {
  position: relative;
  /* relative로 자식 엘레먼트가 이 위치를 기준으로 배치 */
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 80px;
  cursor: pointer;
}

:root {
  --clr: #1af7ff;
}
/* 색상 변수 정의 , hover-text외 관련된 스타일에서 사용*/

.text {
  color: transparent;
  /*  텍스트 색상 투명  */
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
  /* 흰색 반투명 외곽선  */
  transition: 0.1s ease;
  transition-delay: 0.25s;
}

.hover-text {
  position: absolute;
  /* absolute로 배치, 부모 요소를 기준으로 위치 */
  inset: 0;
  width: 0%;
  /* 초기 너비 0 */
  color: var(--clr);
  overflow: hidden;
  border-right: 6px solid var(--clr);
  /* 오른쪽에 6px 너비의 테두리 추가  */
  transition: 0.5s ease-in-out;
}

div:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 60px var(--clr));
  /* div에 마우스를 올렸을때 'hover-text' 너비를 100%로 확장
  그림자 효과 추가 */
}

div:hover .text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
  /* 기본 텍스트의 외곽선을 제거 */
}
